.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.coverage/
coverage.xml
htmlcov
__pycache__/
*.py[cod]
*$py.class
*.pyc
.venv/
Pipfile.lock
*.csv
*.parquet
*.feather
*.crc
*.snappy
*.zip
*.gzip
*.tar
*.bin
*.pkl
*.pickle
*.joblib
.env
.coverage